[submodule ".registry"]
	path = .registry
	url = https://github.com/kylebaron/universe
	shallow = true
	branch = HEAD
[submodule "mrgsim.sa"]
	path = mrgsim.sa
	url = https://github.com/kylebaron/mrgsim.sa
	shallow = true
	registered = true
[submodule "mrgsim.parallel"]
	path = mrgsim.parallel
	url = https://github.com/kylebaron/mrgsim.parallel
	shallow = true
	registered = true
[submodule "dmutate"]
	path = dmutate
	url = https://github.com/kylebaron/dmutate
	shallow = true
	registered = true
