[submodule ".registry"]
	path = .registry
	url = https://github.com/kylebaron/kylebaron.r-universe.dev
	branch = HEAD
[submodule "dmutate"]
	path = dmutate
	url = https://github.com/kylebaron/dmutate
[submodule "mrgsim.parallel"]
	path = mrgsim.parallel
	url = https://github.com/kylebaron/mrgsim.parallel
[submodule "mrgsim.sa"]
	path = mrgsim.sa
	url = https://github.com/kylebaron/mrgsim.sa
